@import 'grid';

$main-color: blue;



* {
	box-sizing: border-box;
    border: 1px solid red;
}

body {
    background-color: pink;
    color: $main-color;
}

/*  hero section */

.hero {
    background-image: url(../images/jumbotron-bg.jpg);
}

.header {
    width: 100%;
}














.test {
	display: flex;
	flex-wrap: wrap;
}

.test2 {
	display: flex;
	flex-wrap: wrap;
}